/* Mobile Profile */
.mobile-profile, .mobile-profile-edit {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 42.2px 38px 107px 35.6px;
  background-image: linear-gradient(336deg, #eef4ff 101%, #fff 6%);
  /* overflow-y: scroll; */
  z-index: 1;
}

.mobile-profile-edit {
  z-index: 5;
}

.mobile-profile .details {
  padding-bottom: 56.6px;
  border-bottom: solid 0.3px #707070;
}

.mobile-profile .about {
  padding-bottom: 55.9px !important;
  margin-bottom: 24px !important;
  border-bottom: solid 0.3px #707070;
}

.mobile-profile-btn {
    border: 0px;
}
