.search-holder {
    margin-top: 10vw;
}

.search-options-icon {
    position: absolute;
    padding: 2vw;
    cursor: pointer;
}

input[type=text] {
    padding-left: 5vw !important;
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 1.5vw;
}

textarea {
    text-align: left;
}

.filter-options {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    min-height: 30vw;
    display: none;
    position: absolute;
    z-index: 10;
    font-family: Comfortaa;
    font-weight: bold;
}

.filter-options>div {
    padding: 1vw;
}

.filter-options>div>span {
    margin-bottom: 1vw;
    display: inline-block;
}

.all-students-pool>div:hover {
    cursor: pointer;
}

.result-statistic {
    font-family: Comfortaa;
    font-weight: bold;
    margin-top: 1vw;
}

.statistc-bars {
    margin-top: 0 !important;
}

.progress {
    margin-bottom: 0 !important;
}

.download-stats {
    margin-top: 1vw;
    cursor: pointer;
}

.table-for-download {
    display: none;
}

.loading {
    background: url('../images/loaders/load-20.gif');
    background-repeat: no-repeat, repeat;
    /*background-size: cover;*/
    background-position: center;
    min-height: 40vh;
}
