/*statistic section*/
html {
    scroll-behavior: smooth;
}
a {
    color: #1C8800;
}

.test-statistic-wrapper {
    margin-top: 10vw;
    justify-content: space-between;
    max-height: 20vh;
    overflow-y: scroll;
}

.all-questions {
    font-family: Comfortaa;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    padding: 1vw;
    margin-top: 1vw;
}

.all-questions:hover {
    border: 1px solid #1C8800;
    cursor: help;
}

.all-questions>div>i {
    color: #1C8800;
}

.circles {
    display: flex;
}

.circle-with-text {
    background: #1C8800;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin-left: 3.2vw;
    margin-top: 1vw;
    font-size: 1.5vw;
    padding: 1.5vw;
    display: flex;
    height: 5vw;
    width: 5vw;
    color: #fff;
}

.circle-with-text:hover {
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.5);
}

.easy {
    background: #BBDCFF;
}

.normal {
    background: #D8DADD;
}

.hard {
    background: #F6C9CE;
}

.dif-wrapper {
    justify-content: space-around;
}

.dif-wrapper>div:nth-child(1), .test-statistic-wrapper>div:nth-child(1) {
    margin-top: 5vw;
    font-family: Comfortaa;
    font-weight: bold;
    letter-spacing: 1px;
}

.test-statistic-wrapper>div:nth-child(1) {
    margin-top: 1vw;
}

/*end of statistic section*/
/*test section*/
.test-wrapper {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.test-wrapper>div {
    justify-content: flex-start;
}

.test-nav {
    overflow-y: scroll;
    padding: 1vw;
    background: #fff;
    font-family: Comfortaa;
    height: 500px !important;
    min-height: 400px !important;
}

.test-nav>div {
    padding: 1vw;
    margin-bottom: 2vw;
}

.test-nav>div:hover {
    background: #D3D3D3;
    cursor: pointer;
    font-weight: bold;
}

.tests-content {
    background: #fff;
    border-left: 1px solid #D3D3D3;
}

.test-nav>div>div>i {
    color: #1C8800;
}

.test-nav>div {
    justify-content: space-between;
}

.test-nav>div>span:nth-child(3) {
    color: #1C8800;
}

.test-nav>div>span {
    justify-content: space-between;
}

.test-nav>div>span>img {
    /*width: 3vw;*/
    border-radius: 50%;
    max-height: 3vw;
    margin-top: -0.5vw;
}

.test-nav>div>span>img:hover {
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.5);
}

.test-clicked {
    background: #d6d6d6;
    font-weight: bold;
}

.add-bank {
    color: #1C8800;
    padding: 1vw;
    /*padding-left: 5vw;*/
    /*padding-right: 5vw;*/
    font-size:1vw !important;
}

.create-bank {
    display: none;
}

.tests-content {
    padding: 2vw;
    max-height: 46vw;
    overflow-y: scroll;
}

.tests-list>li:nth-child(1) {
    margin-bottom: 2vw;
}

.tests-list>li:nth-child(1)>a {
    padding-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.tests-list>li {
    font-family: Ubuntu;
    text-align: left;
    margin-bottom: 1vw !important;
    padding: 1vw;
    color: #000;
    border-radius: 2px;
    letter-spacing: 1px;
}

.tests-list>li:hover {
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.5);
    cursor: pointer;
}

.tests-list>li>a {
    color: inherit;
}

.correct-open, .correct-multiple, .correct-one {
    font-weight: bold;
    font-family: Comfortaa;
    color: #fff;
    letter-spacing: 1px;
}

.question {
    margin-bottom: 1vw;
}

.corect-answer {
    color: #1C8800;
    font-weight: bold;
    border-color: #1C8800 !important;
}

@keyframes border-pulsate {
    0% {
        border-color: #1C8800;
    }

    50% {
        border-color: #cdf2c4;
    }

    100% {
        border-color: #1C8800;
    }
}

.corect-answer-one {
    color: #1C8800;
    font-weight: bold;
    border: 3px solid #1C8800;
    animation: border-pulsate 2s infinite;
    padding: 0.1vw;
    border-radius: 2px;
}

.icon-click-many, .icon-edit, .remove-q {
    /*position: absolute;*/
    /*margin-left: -3vw;*/
    /*margin-top: 1vw;*/
}

.input-answers>a>i {
    color: #1C8800;
}

.fa-times {
    color: #FF0000 !important;
}

.remove-q {
    /*margin-left: 1vw;*/
    color: #FF0000 !important;
}

.modal-remove-q {
    margin-top: 0;
}

#modal:target {
    top: 35vw !important;
    z-index: 10;
    /*position: fixed;*/
}

.copy>p>div:nth-child(1)>i {
    color: #1C8800;
}

.bonus-points {
    width: 4vw;
}

.trophy-bonus {
    color: #fff;
    font-weight: bold;
}

.num-correct {
    color: #2F4F4F;
    font-weight: bold;
}

code {
    color: #000 !important;
}

.bank-statistic>div>span {
    font-weight: bold;
}

.bank-statistic-holder {
    margin-bottom: 3vw;
}

.top-btn {
    background: #C6E7CD;
    border: #C6E7CD;
    color: #000;
    font-family: Ubuntu;
}

.create-question {
    display: none;
}

.questions-box {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.q-open-wrap, .q-one-wrap, .q-many-wrap {
    display: none;
}

#modal:target{
    top: -15%!important;
}

.delete-q{
    margin-top: -40px;
    margin-right: -20px;
}

.q_image{
    transition: all 150ms linear;
    width:200px;
    max-height: 200px;
    border-radius:5%;
}

.q_image_inside{
    transition: all 150ms linear;
    width: 100px;
    max-height: 100px;
    border-radius: 5%;
}

.img_big{
    transition: all 150ms linear;
    width:500px;
    max-height: 500px;
}

.create-q-btn{
    margin-top: 1%;
}

.missed-field{
    border: 2px solid #dd3300 !important;
}

/*end of test section*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #tests-content {
        margin-top: 90vw;
    }
}