div.alert {
  color: #00214b !important;
  background-image: linear-gradient(336deg, #eef4ff 101%, #fff 6%) !important;
  border: 1px solid #00214b !important;
  border-radius: 15px;
}

div.alert-primary, div.alert-warning, div.alert-info {
  box-shadow: 5px 5px 9px 0 rgba(0, 15, 67, 0.35);
}

div.alert-danger {
  color: #ef4136 !important;
  font-weight: bold;
  box-shadow: 5px 5px 9px 0 rgba(255, 0, 0, 0.3);
}

div.alert-success {
  color: #69b501 !important;
  font-weight: bold;
  box-shadow: 5px 5px 9px 0 rgba(105, 181, 1, 0.4);
}
