.footer {
    margin-top: 1%;
    background: #8DE219;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom:2vw;
}

.footer > div > div > p > a {
    color: #000000;
    font-family: Comfortaa;
}

.f-heading {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-family: ubuntu;
    font-weight: bolder;
}

.f-contacts > p > i {
    border-radius: 50%;
}

.footer > div > div > p > a:hover {
    color: #383838;
}

.footer-end {
    padding-top: 2%;
    padding-bottom: 2%;
    background: #232323;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 0;
    padding-left: 0;

}

.footer-end > div {
    margin-top: 1vw;
    font-family: Ubuntu;
    color: #fff;
}

#subscribe {
    border-radius: 5px;
    border: 1px solid #232323;
    height: 50%;
    padding: 0.5%;
    margin-top: -5%;
}

.send-subscribe {
    margin-top: -0.9%;
    background: #1C8800 !important;
    color: #fff;
    font-family: Ubuntu;
    border: 1px solid #1C8800;
    border-radius: 5px;
    height: 50%;
    /*margin-left: 1vw;*/
}

.send-subscribe:hover {
    cursor: pointer;
    background: #fff !important;
    color: #1C8800;
}
