/*content section*/
.tab-wrapper {
    margin-top: 10vw;
}

a {
    text-decoration: none;
}

.statistic-name, .students-name {
    background: #fff;
}

.students-name>a, .statistic-name>a {
    text-decoration: none;
    color: #000;
    font-family: Ubuntu;
    font-weight: bold;
    letter-spacing: 1px;
}

.students-name:hover, .statistic-name:hover {
    border-bottom: 5px solid #1C8800;
}

.active-tab {
    border-bottom: 5px solid #1C8800;
}

.statistic-text, .students-text, .score-board-holder {
    display: none;
}

.tabs-content {
    margin-top: 2vw;
}

.statistic-new>a, .statistic-edit>a {
    text-decoration: none;
    color: #fff;
    font-family: Ubuntu;
    background: #1C8800;
    padding: 1vw;
    border-radius: 8px;
    box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.12);
}

.statistic-new>a:hover, .statistic-edit>a:hover {
    background: #fff;
    color: #1C8800;
}

.comments-title {
    font-family: Ubuntu;
    font-weight: bold;
    position: absolute;
    /*z-index: 1;*/
}

.comments-wrapper {
    background: #fff;
    border-radius: 8px;
    padding: 1vw;
    /*height: 50vh;*/
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.1);
    align-content: start;
    overflow-x: hidden;
}

.comment-pic>img {
    width: 2.5vw;
    border-radius: 50%;
}

.comment-pic, .comment-name, .comment-time {
    margin-top: 5vw;
    font-family: Comfortaa;
    letter-spacing: 0.5px;
}

.all-students-wrapper>.comment-pic, .all-students-wrapper>.comment-name, .all-students-wrapper>.comment-time {
    margin-top: 2vw;
}

.comment-name, .comment-time {
    padding-top: 1vw;
}

.comment-time {
    color: rgba(0, 0, 0, 0.38);
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}

.comment-text {
    margin-top: 1vw;
    max-height: 10vw;
    overflow-y: auto;
    font-family: Comfortaa;
    letter-spacing: 0.5px;
    border: 2px solid #243847;
    border-radius: 8px;
    padding: 1vw;
}

.statistic-charts {
    margin-top: -5vw;
    font-family: Comfortaa;
}

.statistic-charts>.max-students>span:nth-child(3), .statistic-charts>.avrg-results>span:nth-child(3) {
    font-size: 5vw;
    color: #FD8E29;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}

.progress {
    margin-bottom: 5vw;
    height: 2vw;
    font-weight: bold;
}

.lvl-wrapper>div:first-child {
    padding: 1vw;
    font-family: Comfortaa;
    margin-bottom: 1vw;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.lvl-wrapper>div:not(:first-child) {
    border: 1px solid #1C8800;
    border-radius: 8px;
    padding: 1vw;
    font-family: Comfortaa;
    word-wrap: break-word;
    margin-top: 1vw;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.lvl-wrapper>div:not(:first-child):hover {
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.2);
    cursor: pointer;
    color: #1C8800;
    background: #fff;
    font-weight: bold;
}

.clicked-lvl {
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.2);
    cursor: pointer;
    color: #1C8800;
    background: #fff;
    font-weight: bold;
}

.disabled-lvl {
    background: #D3D3D3;
}

.disabled-lvl:hover {
    cursor: not-allowed !important;
    background: #D3D3D3 !important;
}

.lvl-statistic-holder, .lvl-statistic-comments-holder {
    display: none;
}

.add-lvl-btn>a {
    color: #1C8800;
    padding-bottom: 1vw;
}

/*end of content section*/
/*end of statistics*/
/*students section*/
.students-filter {
    background: #fff;
    padding: 1vw;
    border-radius: 8px;
    font-family: Ubuntu;
    /*height: 35vw;*/
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.1);
}

.students-filter>div {
    margin-bottom: 2vw;
}

.students-filter>div>span {
    margin-bottom: 1vw;
    display: inline-block;
    color: rgba(36, 56, 71, 0.6);
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}

.students-statistic {
    padding: 1vw;
}

.students-statistic-top {
    font-family: Comfortaa;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
    height: 5vw;
}

.students-statistic-top>span {
    margin-bottom: 0.5vw;
    display: inline-block;
}

.student-result {
    align-content: start;
}

.student-result-pic>img {
    width: 7vw;
    border-radius: 50%;
}

.student-result-info>span {
    /*margin-bottom: 0.5vw;*/
    display: inline-block;
    padding-top: 1vw;
}

.student-result {
    overflow-y: auto;
}

.student-result>div {
    margin-bottom: 2vw;
}

.students-statistic {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.1);
    align-content: start;
}

.students-statistic>.comment-name {
    margin-left: 0.5vw;
}

.students-results-statistics {
    display: none;
}

.add-comment {
    margin-bottom: 2vw;
}

.active-student {
    color: #1C8800;
    font-weight: bold;
}

.student-result-info, .student-result-pic {
    font-family: Ubuntu;
    cursor: pointer;
}

.active-pic {
    border: 3px solid #1C8800;
    border-radius: 60% !important;
}

.add-comment>a {
    text-decoration: none;
    color: green;
}

.students-statistic>.comments-wrapper {
    /*max-height: 90vw;*/
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 2vw;
    border-radius: 8px;
    position: relative;
}

.loading-img {
    max-width: 100%;
}

.all-students-holder {
    display: none;
}

.comment-holder {
    display: none;
}

.all-students-wrapper>.comment-pic:hover {
    cursor: pointer;
}

.all-students-wrapper>.comment-name:hover {
    cursor: pointer;
}

.hidden-all-students-info {
    display: none;
}

.all-students-wrapper {
    align-content: start;
}

.loader-no-content {
    margin-top: 25%;
}

.filter-loader {
    display: block;
}

.delete-module, .delete-module-btn, .btn-update-course {
    float: none !important;
    /* padding: .75rem 1.25rem; */
}

.delete-module {
    padding-top: 8px;
}

.modules-modal {
    margin-bottom: 1vw;
}

.for-modal-course-visibility {
    display: none !important;
}

.event-title>i {
    float: right;
    margin-left: 1vw;
}

.for-delete {
    background: #f00 !important;
    border: 1px solid #f00 !important;
}

.delete-course-btn {
    float: none !important;
}

.no-show{
    display: none;
}

.open-cert{
    z-index: 999;
}

/*end of students section*/
/*Query's
--------------------------------------------------------------------------------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .statistic-options {
        margin-top: 5vw;
    }

    .statistic-new, .statistic-edit {
        margin-bottom: 5vw;
    }

    .statistic-charts {
        margin-top: 5vw;
        font-size: 4vw;
    }

    .lvl-wrapper>div {
        font-size: 4vw;
    }

    .statistc-bars {
        margin-top: 5vw;
        font-size: 4vw;
    }

    .progress {
        height: 5vw;
    }

    .statistic-new>a, .statistic-edit>a {
        font-size: 4.5vw;
        padding: 2vw;
    }

    .statistic-charts>.max-students>span:nth-child(3), .statistic-charts>.avrg-results>span:nth-child(3) {
        margin-top: 2vw;
        /*margin-bottom: 0.5vw;*/
        display: block;
    }

    .statistc-bars>span {
        display: block;
        margin-bottom: 1vw;
    }

    .students-name>a, .statistic-name>a {
        font-size: 4.5vw;
    }

    .comments-title {
        font-size: 4.5vw;
    }

    .comment-pic {
        margin-top: 15vw;
    }

    .comment-pic>img {
        width: 25vw;
    }

    /*	.all-students-wrapper > .comment-pic > img{
		width:15vw;
	}*/
    .comment-name {
        font-size: 4vw;
    }

    .comment-time {
        font-size: 3vw;
    }

    .comment-text {
        max-height: 40vw;
        font-size: 3.7vw;
    }

    .menu-title {
        font-size: 2.1vw;
    }

    .students-filter {
        font-size: 3.7vw;
        margin-bottom: 5vw;
        /*height: 80vw;*/
        text-align: center;
    }

    .student-result {
        height: 60vw;
        margin-bottom: 10vw;
        font-size: 3.7vw;
    }

    .student-result-pic>img {
        width: 25vw;
    }

    .student-result-pic, .student-result-info {
        text-align: center;
    }

    .student-result>div {
        margin-bottom: 5vw;
    }

    .students-statistic {
        min-height: 50vw;
    }

    .students-statistic-top>span {
        margin-bottom: 2vw;
        font-size: 3.5vw;
    }

    .students-statistic-top {
        margin-bottom: 5vw;
        margin-top: 5vw;
    }

    .add-comment {
        margin-top: 10vw;
    }

    .students-name {
        margin-top: 5vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .statistic-options {
        margin-top: 5vw;
    }

    .statistic-new, .statistic-edit {
        margin-bottom: 5vw;
    }

    .statistic-charts {
        margin-top: 5vw;
        font-size: 3vw;
    }

    .lvl-wrapper>div {
        font-size: 3vw;
    }

    .statistc-bars {
        margin-top: 5vw;
        font-size: 3vw;
    }

    .progress {
        height: 5vw;
    }

    .statistic-new>a, .statistic-edit>a {
        font-size: 3vw;
        padding: 2vw;
    }

    .statistic-charts>.max-students>span:nth-child(3), .statistic-charts>.avrg-results>span:nth-child(3) {
        margin-top: 2vw;
        /*margin-bottom: 0.5vw;*/
        display: block;
    }

    .statistc-bars>span {
        display: block;
        margin-bottom: 1vw;
    }

    .students-name>a, .statistic-name>a {
        font-size: 3.5vw;
    }

    .comments-title {
        font-size: 3.5vw;
    }

    .comment-pic {
        margin-top: 15vw;
    }

    .comment-pic>img {
        width: 20vw;
    }

    .comment-name {
        font-size: 3vw;
    }

    .comment-time {
        font-size: 2.5vw;
    }

    .comment-text {
        max-height: 40vw;
        font-size: 2.7vw;
    }

    .menu-title {
        font-size: 2.1vw;
    }

    .students-filter {
        font-size: 2.7vw;
        /*height: 80vw;*/
        margin-bottom: 5vw;
        text-align: center;
    }

    .students-filter>div {
        margin-bottom: 5vw;
    }

    .student-result {
        height: 55vw;
        margin-bottom: 5vw;
        font-size: 2.5vw;
    }

    .student-result-pic>img {
        width: 25vw;
    }

    .student-result-pic, .student-result-info {
        text-align: center;
    }

    .student-result-info {
        margin-bottom: 5vw !important;
    }

    .student-result>div {
        margin-bottom: 1vw;
    }

    .students-statistic {
        min-height: 50vw;
    }

    .students-statistic-top>span {
        margin-bottom: 2vw;
        font-size: 2.5vw;
    }

    .students-statistic-top {
        margin-bottom: 5vw;
        margin-top: 5vw;
    }

    .add-comment {
        margin-top: 10vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .students-name>a, .statistic-name>a {
        font-size: 3vw;
    }

    .statistic-new>a, .statistic-edit>a {
        font-size: 2vw;
    }

    .comments-title {
        font-size: 2.2vw;
    }

    .statistic-charts>.max-students>span:nth-child(3), .statistic-charts>.avrg-results>span:nth-child(3) {
        font-size: 3.1vw;
    }

    .statistic-charts, .lvl-wrapper>div {
        font-size: 2.1vw;
    }

    .statistc-bars>span {
        font-size: 2vw;
    }

    .progress {
        height: 3vw;
    }

    .comment-name {
        font-size: 1.5vw;
        /*margin-left: 10vw;*/
    }

    .comment-pic {
        margin-top: 5vw;
    }

    .comment-pic>img {
        width: 3vw;
    }

    .comment-time {
        font-size: 1.7vw;
        text-align: center !important;
    }

    .comment-text {
        font-size: 1.8vw;
    }

    .comments-wrapper {
        max-height: 100vh;
    }

    .students-filter {
        font-size: 1.7vw;
        /*height: 65vw;*/
        margin-bottom: 5vw;
    }

    .student-result {
        height: 60vw;
    }

    .students-statistic-top>span {
        font-size: 1.5vw;
        margin-bottom: 1vw;
    }

    .student-result-pic>img {
        width: 6vw;
    }

    .add-comment {
        margin-top: 5vw;
        font-size: 1.7vw;
    }

    .student-result-info {
        font-size: 1.2vw;
    }

    .students-statistic>.comments-wrapper>.comment-pic>img {
        width: 3.5vw;
    }

    .students-statistic>.comments-wrapper>.comment-name {
        font-size: 1.6vw;
        margin-left: 1vw;
    }

    .students-statistic>.comments-wrapper>.comment-time {
        font-size: 1.5vw;
        margin-left: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .statistic-options {
        margin-top: 0vw;
    }

    .menu-title {
        font-size: 1.5vw;
    }

    .students-name>a, .statistic-name>a {
        font-size: 2vw;
    }

    .statistic-new>a, .statistic-edit>a {
        font-size: 1.5vw;
        padding: 1vw;
    }

    .comments-title {
        font-size: 1.9vw;
    }

    .statistic-charts>.max-students>span:nth-child(3), .statistic-charts>.avrg-results>span:nth-child(3) {
        font-size: 2.2vw;
    }

    .statistic-charts, .lvl-wrapper>div {
        font-size: 1.8vw;
    }

    .statistc-bars>span {
        font-size: 1.8vw;
    }

    .student-result-pic>img {
        width: 10vw;
    }

    .progress {
        height: 2vw;
    }

    .comment-name {
        font-size: 1.5vw;
        /*margin-left: 15vw;*/
    }

    .all-students-wrapper>.comment-name {
        font-size: 1.3vw;
    }

    .comment-pic {
        margin-top: 5vw;
    }

    .comment-pic>img {
        width: 3.5vw;
    }

    .comment-time {
        font-size: 1.5vw;
        text-align: center !important;
    }

    .comment-text {
        font-size: 1.5vw;
    }

    .comments-wrapper {
        max-height: 100vh;
    }

    .students-filter {
        font-size: 1.5vw;
    }

    .student-result-info {
        font-size: 1.5vw;
    }

    .students-statistic-top>span {
        font-size: 1.3vw;
    }

    .students-statistic-top {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu-title {
        font-size: 1.2vw;
    }

    .students-name>a, .statistic-name>a {
        font-size: 2vw;
        padding: 2vw;
    }

    .statistic-new>a, .statistic-edit>a {
        font-size: 1.2vw;
        padding: 2vw;
    }

    .comments-title {
        font-size: 1.4vw;
    }

    .statistic-charts>.max-students>span:nth-child(3), .statistic-charts>.avrg-results>span:nth-child(3) {
        font-size: 2vw;
    }

    .statistic-charts, .lvl-wrapper>div {
        font-size: 1.4vw;
    }

    .statistc-bars>span {
        font-size: 1.4vw;
    }

    .progress {
        height: 1.5vw;
    }

    .comment-name {
        font-size: 1.5vw;
        margin-left: 0vw;
    }

    .comment-pic {
        margin-top: 5vw;
    }

    .comment-pic>img {
        width: 3vw;
    }

    .comment-time {
        font-size: 1.3vw;
    }

    .comment-text {
        font-size: 1.2vw;
    }

    .comments-wrapper {
        /*height: 100vh;*/
    }

    .comment-text {
        max-height: 10vw;
        overflow-y: auto;
    }

    .progress-bar {
        font-size: 1.4vw;
    }

    .add-comment>a {
        text-decoration: none;
        color: green;
        font-size: 1.7vw;
    }

    .students-filter {
        font-size: 1.3vw;
    }

    .student-result-info {
        font-size: 1.3vw;
        text-align: left;
    }

    .add-comment {
        margin-top: 2vw;
    }

    .students-statistic-top {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .lvl-wrapper>div:first-child {
        font-size: 1.6vw;
    }

    .lvl-wrapper>div {
        font-size: 1.2vw;
    }

    .students-filter>div {
        margin-bottom: 1vw;
    }

    .student-result-pic {
        text-align: right;
    }

    .all-students-wrapper>.comment-name {
        font-size: 1.2vw;
    }
}