/*about me section*/
.about-bio {
    font-family: Ubuntu;
}

textarea {
    padding: 1vw !important;
    outline: none;
}

.bio-title {
    font-weight: bold;
    margin-bottom: 1vw;
    display: inline-block;
}

.bio-courses {
    font-family: Comfortaa;
    /*	overflow-x: scroll;
	max-height: 90vw;*/
}

.bio-courses>div {
    margin-bottom: 3vw;
}

.bio-courses>div:nth-child(1) {
    margin-bottom: 4vw;
    font-weight: bold;
}

.bio-courses>div:not(:first-child) {
    border: 1px solid ##1B8500;
    padding: 1vw;
    background: #1B8500;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.3);
}

.bio-courses>div>img {
    /*float: right;*/
    margin-right: 0;
    right: 0;
    position: absolute;
}

.about-me {
    margin-top: 3vw;
}

.bio-title>a {
    color: #1B8500;
}

.bio-courses-title>a {
    display: none;
}

.bio-courses-title {
    max-height: 5vw;
}

.edit-box {
    position: absolute;
}

.lecturer-course-name {
    max-height: 8vw;
}

.lecturer-past-courses:hover {
    text-decoration: none;
    color: #FCE142;
}

/*end of about me section*/
/*QUERY's
-------------------------------------------------------------------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .edit-box {
        position: relative;
    }

    .sidenav {
        height: 10vw;
    }

    .copy>p {
        max-height: 50vw;
    }

    .bio-courses>div>img {
        max-width: 10vw;
        /*margin-left: 3vw;*/
    }

    .bio-title {
        font-size: 4vw;
    }

    .bio-text {
        font-size: 3.5vw;
    }

    .about-bio {
        margin-bottom: 10vw;
    }

    .bio-courses>div:nth-child(1) {
        font-size: 4vw;
        margin-bottom: 6vw;
    }

    .bio-courses>div:not(:first-child) {
        margin-bottom: 10vw;
        font-size: 3vw;
        letter-spacing: 1vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .bio-courses>div>img {
        max-width: 10vw;
        /*margin-left: 15vw;*/
    }

    .bio-title {
        font-size: 3.5vw;
    }

    .bio-text {
        font-size: 3vw;
    }

    .about-bio {
        margin-bottom: 10vw;
    }

    .bio-courses>div:nth-child(1) {
        font-size: 4vw;
        margin-bottom: 6vw;
    }

    .bio-courses>div:not(:first-child) {
        margin-bottom: 10vw;
        font-size: 3.5vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bio-courses>div>img {
        max-width: 5vw;
        /*margin-left: 10vw;*/
    }

    .bio-title {
        font-size: 2.5vw;
    }

    .bio-text {
        font-size: 2vw;
    }

    .about-bio {
        margin-bottom: 10vw;
    }

    .bio-courses>div:nth-child(1) {
        font-size: 2.5vw;
        margin-bottom: 4vw;
    }

    .bio-courses>div:not(:first-child) {
        margin-bottom: 5vw;
        font-size: 2.2vw;
    }

    .bio-courses>div:not(:first-child)>span {
        position: relative;
        display: inline-block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bio-courses>div>img {
        max-width: 5vw;
        /*margin-left: 2vw;*/
    }

    .bio-title {
        font-size: 2.2vw;
    }

    .bio-text {
        font-size: 1.5vw;
    }

    .about-bio {
        margin-bottom: 10vw;
    }

    .bio-courses>div:nth-child(1) {
        font-size: 2.2vw;
        margin-bottom: 4vw;
    }

    .bio-courses>div:not(:first-child) {
        margin-bottom: 5vw;
        font-size: 1.7vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .bio-courses>div>img {
        max-width: 5vw;
        /*margin-left: 1vw;*/
    }
}
