/*options section*/
a, ul>li>a, div>li>a {
    text-decoration: none;
    color: inherit;
}

.options-wrap {
    margin-top: 10vw;
}

.options-wrap>div {
    margin-bottom: 5vw;
}

.levels-title, .levels-btn, .levels-footer {
    background: #658BA9 ;
    border: 1px solid #658BA9 ;
}

.levels-btn:hover {
    background: #fff !important;
    color: #658BA9 !important;
}

.text-right>a {
    display: inline-block;
    position: relative;
}

.text-right>a>i {
    font-size: 1.5vw;
}

.right-option:hover, .left-option:hover, .lecturer-holder:hover {
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.5);
    border-radius: 8px;
}

.levels-holder, .lecturers-holder {
    display: none;
}

.all-students-pool>div>div>img {
    float: none;
}

.remove-lecturer {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    position: absolute;
    z-index: 10;
}

.remove-lecturer>img {
    margin-left: 10vw;
}

.remove-lecturer:hover {
    cursor: pointer;
}

.all-students-pool>div>div {
    margin-top: 1vw !important;
}

a:hover {
    text-decoration: none;
}

/*end of option sections*/