/*candidation section*/
.candidation-wrap {
    margin-top: 10vw;
}

.candidation-title {
    font-family: Ubuntu;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #1B8500;
    background: #1B8500;
    padding: 1.5vw;
}

.candidation-text {
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: Comfortaa;
    /*max-height: 7vw;*/
    height: 10vw;
    min-height: 7vw;
    /* overflow: hidden;*/
    letter-spacing: 1px;
    /*text-align: justify;*/
}

/*steps*/
.steps>li {
    width: 5vw;
    height: 5vw;
    text-align: center;
    /* line-height: 2em; */
    border-radius: 50%;
    background: #1B8500;
    /* margin: 0 1em;*/
    display: inline-block;
    color: white;
    position: relative;
    /*margin-right: 10vw;*/
    padding-top: 1.5vw;
    font-size: 2vw;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.1);
}

.steps>li:not(:last-child) {
    margin-right: 11vw;
}

.steps>li::before {
    content: '';
    position: absolute;
    top: .9em;
    left: -6em;
    width: 8em;
    height: .2em;
    background: #1B8500;
    z-index: -1;
}

.steps>p {
    font-family: Comfortaa;
}

.steps>li:hover {
    cursor: pointer;
    background: #177100;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.steps>li:first-child::before {
    display: none;
}

.steps>li>span {
    position: absolute;
    /* font-size: 1.5vw;*/
    margin-top: 5vw;
    /* margin-left: -5vw;*/
    color: #000;
    font-family: Comfortaa;
}

.candidate-imgs {
    margin-top: 6vw;
}

.active-step {
    background: #1B8500 !important;
    box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.4) !important;
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(27, 133, 0, 0.5);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(27, 133, 0, 1);
        box-shadow: 0 0 0 0 rgba(27, 133, 0, 0.5);
    }

    70% {
        -moz-box-shadow: 0 0 0 0px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.active-step~li {
    background: #D3D3D3;
}

.active-step~li::before {
    background: #D3D3D3;
}

.personal-steps {
    display: none;
    z-index: -99999;
    position: absolute;
}

.steps {
    /*text-align: left;*/
}

.move-left {
    /*position: absolute;*/
    /*margin-left: 0;*/
}

/*end of steps*/
/*end of candidation section*/
/*available events section*/
.available-events {
    margin-top: 5vw;
    /*margin-bottom: 5vw;*/
}

.available-events>div {
    margin-bottom: 5vw;
}

/* .event-title, .event-body-text, .event-footer {
    background: #F6546A;
    border: 1px solid #F6546A;
} */
.event-body>img {
    width: auto;
    max-width: 40vw;
    /*height: auto;*/
}

/*end of available events section*/
/*QUERY's
------------------------------------------------------------------------------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .candidation-wrap {
        margin-top: 15vw;
    }

    .candidation-text {
        height: 30vw;
    }

    .steps>li>span {
        font-size: 1.8vw;
    }

    .candidation-title {
        font-size: 2.5vw;
    }

    .candidation-text {
        font-size: 2.2vw;
    }

    .steps>li:nth-child(1)>span {
        margin-left: -7vw;
    }

    .steps>li:nth-child(2)>span {
        margin-left: -9.5vw;
    }

    .steps>li:nth-child(3)>span {
        margin-left: -8vw;
    }

    .steps>li:nth-child(4)>span {
        margin-left: -4.5vw;
    }

    .steps>li:nth-child(5)>span {
        margin-left: -4.5vw;
    }

    .candidate-imgs {
        display: none;
    }

    .available-events {
        margin-top: 10vw;
        border-top: 1px solid #F6546A;
        padding-top: 5vw;
    }

    .menu-title {
        font-size: 2vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .candidation-text {
        height: 17vw;
        /*line-height: 15px;*/
    }

    .steps>li>span {
        font-size: 1.6vw;
    }

    .candidation-title {
        font-size: 3vw;
    }

    .candidation-text {
        font-size: 1.7vw;
    }

    .steps>li:nth-child(1)>span {
        margin-left: -5.5vw;
    }

    .steps>li:nth-child(2)>span {
        margin-left: -8vw;
    }

    .steps>li:nth-child(3)>span {
        margin-left: -7vw;
    }

    .steps>li:nth-child(4)>span {
        margin-left: -4vw;
    }

    .steps>li:nth-child(5)>span {
        margin-left: -3vw;
    }

    .candidate-imgs {
        display: none;
    }

    .available-events {
        margin-top: 10vw;
        border-top: 1px solid #F6546A;
        padding-top: 5vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .steps>li>span {
        font-size: 1.5vw;
    }

    .candidation-title {
        font-size: 2.5vw;
    }

    .candidation-text {
        font-size: 1.5vw;
        height: 11vw;
    }

    .candidate-imgs {
        display: none;
    }

    .available-events {
        margin-top: 10vw;
        border-top: 1px solid #F6546A;
        padding-top: 5vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .steps>li>span {
        font-size: 1.4vw;
    }

    .candidation-title {
        font-size: 2vw;
    }

    .candidation-text {
        font-size: 1.5vw;
        height: 10vw;
    }

    .candidate-imgs {
        display: flex;
    }

    .available-events {
        margin-top: 5vw;
        border-top: 0;
        padding-top: 0vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .steps>li>span {
        font-size: 1.3vw;
    }

    .candidation-title {
        font-size: 1.5vw;
    }

    .candidation-text {
        font-size: 1.2vw;
        height: 8vw;
    }

    .candidate-imgs {
        display: flex;
    }

    .available-events {
        margin-top: 5vw;
    }

    .steps>li:nth-child(1)>span {
        margin-left: -5vw;
    }

    .steps>li:nth-child(2)>span {
        margin-left: -6vw;
    }

    .steps>li:nth-child(3)>span {
        margin-left: -6vw;
    }

    .steps>li:nth-child(4)>span {
        margin-left: -4vw;
    }

    .steps>li:nth-child(5)>span {
        margin-left: -2.5vw;
    }
}