.header {
    background: #fff !important;
    height: 15vw;
    top: 0;
    margin-top: -1vw !important;
    padding-top: 2vw !important;
    position: relative !important;
    z-index: 0;
}

.header-about-text {
    margin-top: 5vw !important;
    margin-bottom: 5vw;
}

#main-nav>ul>li>a, #log-in>a, .header-about-text {
    color: #000 !important;
}

#main-nav>ul>li>a:hover {
    color: #1C8800 !important;
}

#team>div, #single-text>div {
    /* margin-top: -25vw; */
    /* z-index: 99; */
    font-family: Comfortaa;
}

#team>div:hover {
    box-shadow: none;
    cursor: default;
}

#main-nav {
    z-index: -1;
}

#header-about-text {
    z-index: -1;
}

.reports-links {
    color: #1C8800;
}

.reports-links:hover {
    font-weight: bolder;
    color: #1C8800;
}

#reports-table>td {
    min-width: 5vw;
}

.reports-year, .reports-holder {
    margin-bottom: 1px;
    border: 2px solid #1C8800;
    padding: 2vw;
    font-family: Comfortaa;
}

.head-report, .head-year, .reports-year {
    font-weight: bolder;
}

.reports-holder:hover {
    /* background-color: #e5e5e5;
    box-shadow: 0px 5px 20px rgba(7, 42, 68, 0.5); */
}

.contacts-wrapper {
    font-family: Comfortaa;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
    display: inline-block;
    margin-top:3vw;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 20%;
    width: 60% !important;
    height: 60% !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #team>div {
        /* margin-top: 5vw; */
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #team>div {
        /* margin-top: -10vw; */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #team>div {
        /* margin-top: -25vw; */
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #team>div {
        /* margin-top: -30vw; */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #team>div {
        /* margin-top: -27vw; */
    }
}