.content-wrap{
    font-family: Ubuntu;
}

#begin_test:hover{
    cursor: pointer !important;
}

.stats-holder > div{
    margin-bottom:2%;
    border:1px solid red;
    padding:2%;
    border-radius:10px;
    background-color: #fff;
}

.stats-holder > div:hover{
    box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.2);
}

.progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
    margin-top: 1%;
    margin-bottom:1%;
}

.text-gray {
    color: #aaa;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}

.green-border{
    padding:1px;
    border:1px solid #218022;
}

.red-border{
    padding:1px;
    border:1px solid #ff481b;
}

.y-bg{
    padding:1px;
    border:1px solid #fff530;
    background: #fffaa2 !important;
}